.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.4);
  backdrop-filter: blur(14px);
  overflow: auto;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 320px;
  min-width: 300px;
  background-color: #fff;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  &__astro {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    flex-grow: 1;
  }
  &__title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__astroItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 8px 6px;
    background: rgba(216, 216, 216, 0.7);

    @media screen and (max-width: 600px) {
      flex-direction: column;
      row-gap: 14px;
      column-gap: 0;
    }
  }
  &__astroUl {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 600px) {
      row-gap: 6px;
    }
  }
}

.arrowClose {
  position: absolute;
  top: 0;
  left: calc(100% + 15px);
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  @media screen and (max-width: 420px) {
    top: -40px;
    left: calc(100% - 36px);
  }
}

.modal__dark {
  background-color: #2e292a;
  color: #fff;
  .arrowClose {
    color: #d6bd4d;
    border-color: currentColor;
  }
}
