.error {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    user-select: none;
  }
  &__message {
    font-size: 20px;
    font-weight: 600;
  }
}

.error__dark {
  color: #d6bd4d;
}

@media screen and (max-width: 750px) {
  .error {
    grid-column: 1 / 3;
  }
}
